<?xml version="1.0"?>

<launch>
      <rosparam file="$(find createCubePCL)/cube_params.yaml" command="load"/>
      <node pkg="tf" type="static_transform_publisher" name="world_to_laser1"  args="0 1 0 0 0 0 /world /laser_cube1 100" />
      <node pkg="tf" type="static_transform_publisher" name="world_to_laser2"  args="1 0 0 0 0 0 /world /laser_cube2 100" />

      <!--
      <node pkg="tf" type="static_transform_publisher" name="isam_to_imu" args="0 0 0 0 0 0 /cube_cloud /world 100" />
      -->
      <node pkg="createCubePCL" name="compare_two_cubes" type="compare_two_cubes" output="screen"/>
      <node pkg="createCubePCL" name="analyze_pc" type="analyze_pc" output="screen"/>
      <node pkg="rviz" name="rviz" type="rviz" args="-d $(find createCubePCL)/rviz/kp_cubes.vcg" />

</launch>
