build/
bin/
lib/
bag/
msg_gen/
srv_gen/
*.swp
*~
*.bash
*.so

#Latex
*.aux
*.log
*.dvi
*.pdf
.*

#temp files
*.swp
*~

*.lst
*.hex
*.o
*.sym
*.lss
*.eep
*.elf
*.hex
*.map
core
*.tgz
data/
cache/
test/
*.pcd
*.png
*.txt
