<?xml version="1.0"?>

<launch>
    <include file="$(find analyze_pc)/launch/bunny_pub.launch"/>
    <!--
    <node pkg="analyze_pc" name="analyze_pc" type="analyze_pc" args="$(optenv GT_NAME bunny000) $(optenv QD_NAME bunny090)" output="screen">
        <param name="/analyze_pc/harris_radius" value="0.01"/>
    </node>
    -->
    <!--<node pkg="rviz" name="rviz" type="rviz" args="-d $(find analyze_pc)/rviz/kp_bunny.vcg" />-->
</launch>
